@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

#root {
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fs-7 {
  font-size: .8rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: #003049;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .link {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 0.3rem;
  margin: 0.3rem;
  color: #003049;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #fff;
}

.navbar-nav .link:hover,
.navbar-nav .active {
  border-bottom: 2px solid #003049;
}

.navbar-perfil {
  font-size: 0.9rem;
}

.navbar-perfil .foto-perfil {
  width: 3rem;
  height: 3rem;
  background-color: #0077b6;
  color: #fff;
}

.navbar-perfil .foto-perfil:hover {
  background-color: rgba(0, 119, 182, 0.8);
}

.dropdown-item:hover {
  color: #0077b6;
}

.dropdown-item-out:hover {
  color: #dd3544;
}

.card-mini {
  height: 20rem;
  border-color: rgba(0, 48, 73, 0.5);
}

.card img {
  background-color: grey;
  height: 12rem;
}

.form-control {
  border-color: rgba(0, 48, 73, 0.3);
}

.footer {
  padding: 2rem 1rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.detalle-contacto a {
  text-decoration: none;
  color: #003049;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.detalle-contacto a:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.table-myservices {
  min-width: 28rem;
}

.footer span {
  margin-bottom: 0.5rem;
}

.footer .social-icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
